@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --main-bg-color: #2874f0;
}
/* ! agar hume kisi ek color ko multiple times use krna hia toh use baar-baar likhne ki jaroorat nahi hai ek baar isko likhkr var() function me iski class ko dalkr background ko assign kr skte hai */
*{
    margin: 0;
    padding: 0;
}
header{
    background-color: var(--main-bg-color);
    font-family: 'Lato', sans-serif;
}
nav{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 88px;
    padding: 0 23px;
}
nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 0 23px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    font-weight: bolder;
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    width: 30vw;
    height: 27px;
    border-radius: 2px;
    margin: 0 16px 0 56px;
    padding: 0 12px;
}
.search button{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}
.btn{
    padding: 5px 10px;
    color: white;
    background: var(--main-bg-color);
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer;
    /* ! jab hum apne mouse k cursor ko button k upper lekr jaenge toh woh ek pointer hand me badal jaega */
}
body{
    background-color: rgb(241, 235, 235);
}
.container{
    min-height: calc(100vh - 58px - 12vh);
    /* ! yeh jo calc() function hai woh overall height mese header and footer ki height ko subtract krk jitni bachi hui height hai woh .container ko dedega without having a vertical scroll-bar */
}
.slider{
    width: 80vw;
    margin: 12px auto;
    overflow: hidden;
}
.card{
    max-width:95vw ;
    margin: auto;
    background-color: rgb(255, 255, 255);
    font-family: 'Ubuntu', sans-serif;
}
.h-2{
    display: flex;
    align-items: center;
    height: 50px;
    margin: 0 22px;
}
.hr{
    border: 1px solid #80808069;
}
.cards{
    display: flex;
    overflow: scroll;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.card-item{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin: 26px 0px;
    /* width: 10vw; */
}
footer{
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Lato', sans-serif;
}